<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <input pInputText
                  type="text" formControlName="firstName"  id="firstName"
                  placeholder="First Name" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <input pInputText
                  type="text" formControlName="lastName"  id="lastName"
                  placeholder="Last Name" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <input pInputText
                  type="text" formControlName="username"  id="username"
                  placeholder="Username" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <input pInputText
                  type="email" formControlName="email"  id="email"
                  placeholder="Email" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <p-password
                  formControlName="password"  id="password"
                  [toggleMask]="true"
                  [feedback]="false"
                  placeholder="Password"> </p-password>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <p-password
                  formControlName="passwordConfirm"  id="passwordConfirm"
                  [toggleMask]="true"
                  [feedback]="false"
                  placeholder="Confirm Password"> </p-password>
              </div>
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary shadow-2 mb-4" type="submit">Sign up</button>
            </div>
          </div>
        </form>
        <p class="mb-0 text-muted">
          Already have an account?
          <a [routerLink]="['/auth/signin']">Log in</a>
        </p>
      </div>
    </div>
  </div>
</div>
