.p-datatable .p-inputtext {
    width: 100%;
    margin: 0.5rem 0;
  }
  
  .p-datatable .p-column-filter {
    display: block;
    margin: 0.5rem 0;
  }
  
  .p-datatable .p-dropdown {
    width: 100%;
  }
  