<div class="flex align-items-center justify-content-center h-screen">
  <div class="card p-4 shadow-3 surface-card">
    <h2 class="text-center mb-4">Login</h2>
    <form #loginForm="ngForm">
      <div class="p-field mb-4">
        <p-floatLabel>
          <label for="username">Username or Email</label>
          <input #txtusernameOrEmail pInputText id="username" name="username" required class="w-full" />
        </p-floatLabel>
      </div>

      <!-- Password Input -->
      <div class="p-field mb-4">
        <label for="password">Password</label>
        <p-password #txtPassword id="password" name="password" required [toggleMask]="true" class="w-full"></p-password>
      </div>

      <!-- Submit Button -->
      <div class="p-field">
        <button pButton type="submit" label="Login" (click)="login(txtusernameOrEmail.value!, txtPassword.value!)"
          [disabled]="!loginForm.form.valid" class="p-button-primary "></button>
      </div>
    </form>
  </div>
</div>