<li *ngIf="!item.hidden" [ngClass]="item.classes" [routerLinkActive]="['active']">
  <a *ngIf="item.url && !item.external" class="nav-link" [target]="item.target ? '_blank' : '_self'"
    [routerLink]="[item.url]" (click)="closeOtherMenu($event)">
    <span class="pcoded-micon" *ngIf="item.icon">
      <i class="feather" [ngClass]="item.icon"></i>
    </span>
    <span class="pcoded-mtext" *ngIf="item.icon; else noIcon">
      {{ item.title }}
    </span>
    <ng-template #noIcon>
      {{ item.title }}
    </ng-template>
  </a>

  <a *ngIf="item.url && item.external" [target]="item.target ? '_blank' : '_self'"> <!--[href]="item.url" -->
    <span class="pcoded-micon" *ngIf="item.icon">
      <i class="feather" [ngClass]="item.icon"></i>
    </span>
    <span class="pcoded-mtext" *ngIf="item.icon; else noIconExternal">
      {{ item.title }}
    </span>
    <ng-template #noIconExternal>
      {{ item.title }}
    </ng-template>
  </a>
</li>