@import './scss/_variables.scss';
@import './scss/general';
@import './scss/generic';
@import './scss/mixins/function';
@import './scss/menu/menu-lite';
@import './scss/theme-elements/theme-elements';
@import './scss/plugins/plugins';
@import './scss/_custom.scss';
@import './fonts/fontawesome/scss/fontawesome';
@import './fonts/feather/iconfont';

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

ol, ul {
  padding-left: 0rem !important;
}
.p-button
{
  margin: 0px 5px;
  border-radius: 8px;
}

a:hover
{
  text-decoration: none !important;
}
